{% block content %}
{% for article in articles %}
<div class="" style="padding: 20px; float: left;width: 100% ">
    <div class="card" style="height: 100px;width: 100%">
        <div class="row">
            <div class="col-md-8" style="padding: 30px;">
                    <h5 class="card-title"><b>{{ article.placetitle }}</b></h5>
                    <b>{{ article.placevalue }}</b>
            </div>
        </div>
    </div>
</div>
<div class="" style="padding: 20px; float: left;width: 100% ">
    <div class="card" style="height: 300px;width: 100%">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <!-- <div class="card-body" style="height: 100%;">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text" style="width: 700px;height:150px;">{{ article.description }}</p> -->

            <!-- <div class="" style="position: absolute;right: 20px;bottom: 20px;">
                <a href="home/{{ article.id }}/" class="btn btn-primary">Explore more</a>
            </div> -->
            <div class="row">
                <div class="col" style="padding: 30px;">
                    <h5 class="card-title"><b>{{ article.title }}</b></h5>
                    <p class="card-text">{{ article.description }}</p>
                </div>
                <div class="col">
                        <div class="row">
                                <div class="col">
                                        {% if images %}
                                        <img src="media/{{ images }}" style="height: 196px;width: 196px;margin-top: 30px;float: left;">
                                        {% else %}
        
                                        {% endif %}
                                </div>
                                <div  class="col">
                                        {% if videos %}
                                        <video controls style="width:196px;height: 196px;margin-top: 18px;float: left;">
                                                <source src="media/{{ video }}" type="video/mp4">
                                            </video>
                                        {% else %}

                                        {% endif %}
                                </div>
                                <input type="hidden" id="lat" value="{{ lat }}">
                                <input type="hidden" id="long" value="{{ long }}">
                        </div>                                                 
                </div>
              </div>
              <div class="row" style="justify-content: flex-end;
              padding-right: 32px;margin-top: 18px;" >
                <a href="home/{{ article.id }}/" class="btn btn-primary">Explore more</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var lat=$('#lat').val();
        var long=$('#long').val();
        var address_place=[];
        var myLatLng = {lat: parseFloat(lat), lng: parseFloat(long)};
        if(myLatLng !=""){
            $('#search').hide();    
        }
        var map = new google.maps.Map(document.getElementById('map'), {
         		zoom: 16,
         		center: myLatLng,
                mapTypeId: 'terrain'
               });
        var marker = new google.maps.Marker({
         	position: myLatLng,
             map: map,
        });
        var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 4,
            fillColor: '#FF0000',
            fillOpacity: 0.15,
            map: map,
            center:myLatLng,
            radius: Math.sqrt(50) * 100
          });
    </script>
</div>
{% endfor %}
{% endblock %}